@model List<FriendModel>

<h1>Friends</h1>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th style="background-color:white;"><h6>Friend ID</h6><img src="https://img.icons8.com/?size=1x&id=79676&format=png" width="32"></th>
                <th><h6>Friend Name</h6></th>
                <th style="background-color:white;"><h6>Place</h6><img src="https://img.icons8.com/?size=1x&id=vjBZgKkqLr8y&format=png" width="32"></th>
                <th></th>
                <th style="background-color:white;"><img src="https://img.icons8.com/?size=1x&id=102315&format=png" width="32"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var friend in Model)
            {
                <tr>
                    <td style="background-color:white;">@friend.FriendID</td>
                    <td>@friend.FriendName</td> 
                    <td style="background-color:white;">@friend.Place</td>
                    <td><a href="@Url.Action("Edit", new { id = friend.FriendID })">Edit</a></td>
                    <td style="background-color:white;"><a href="@Url.Action("Delete", new { id = friend.FriendID })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No friends found.</p>
}

<p align="center"><a asp-action="Create" class="button">Add new friend</a></p>
